.body {
    align-items: center;
    background-color:  #9BE8D8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin: 200px 300px;
    border-radius: 7px;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
.body a.button {
    background-color: #F8FDCF;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;
}