.body {
    align-items: center;
    background-color: #78C1F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 250 300px;
    border-radius: 7px;
}