*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px, -8px, 15px rgba(255, 255, 255, 0.1),5px, -8px, 15px rgba(255, 255, 255, 0.1);
}